  <!-- Meta Data -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Slothtime is a minimalist time tracking webapp with an emphasis on ease of use, speed, and customization."
  />
  <meta name="image" content="static/images/slothtime_icon_x128.png" />
  <meta
    name="keywords"
    content="
        sloth time, slothtime, sloth-time, sloth_time,
        time tracking, time-tracking, time blocks, time logging,
        customizable, customization, minimalist, fast time entry,
        time entry, time tracker
        "
  />
  <meta
    property="og:title"
    content="Slothtime | A minimalist, customizable time tracker"
  />
  <meta property="og:url" content="https://slothtime.dev" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="static/images/slothtime_icon_x128.png" />
  <meta
    property="og:description"
    content="Slothtime is a minimalist time tracking webapp with an emphasis on ease of use, speed, and customization."
  />
  <meta
    name="twitter:title"
    content="Slothtime | A minimalist, customizable time tracker"
  />
  <meta name="twitter:image" content="static/images/slothtime_icon_x128.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "website",
      "name": "Slothtime",
      "author": {
        "@type": "Developer",
        "name": "Evan Robertson"
      },
      "description": "Slothtime is a minimalist time tracking webapp with an emphasis on ease of use, speed, and customization."
    }
  </script>

  <!-- Icon -->
  <link rel="icon" type="image/x-icon" href="static/images/sloth-icon.svg" />
  <!-- Title -->
  <title>slothtime | A minimalist, customizable time tracker</title>
  <meta id="metaThemeColor" name="theme-color" content="#e2b714" />
  <!-- Scipts and Stylesheets -->
  <!-- JQuery -->
  <script
    src="https://code.jquery.com/jquery-3.6.2.min.js"
    integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
    crossorigin="anonymous"
  ></script>
  <!-- themes -->
  <link rel="stylesheet" id="currentTheme" />
  <link rel="stylesheet" id="previewTheme" />
  <!-- slothtime user config file js -->
  <script src="static/scripts/config.js"></script>
  <!-- Bootstrap v5.2 (CSS)   -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <!-- Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
  />
  <link rel="stylesheet" href="static/styles/styles.css" />
  <!-- Web App Manifest -->
  <link rel="manifest" href="sloth.webmanifest" />
  <!-- apple icon -->
  <link rel="apple-touch-icon" href="static/images/slothtime_icon_x192.png" />
