/**** Body / Global ****/
:root {
   --frosted-bg: rgba(255, 255, 255, 0.15);
   --bg-color: #282C34;
   --main-color: #ABB2BF;
   --main-hover: #bb960f;
   --sub-color: #646669;
   --sub-alt-color: #2c2e31;
   --text-color: #d1d0c5;
   --error-color: #ca4754;
}