:root {
   --bg-color: #323437;
   --main-color: rgb(226, 183, 20);
   --sub-color: #222325;
   --sub-alt-color: #2c2e31;
   --text-color: #d1d0c5;
   --error-color: #ca4754;
   --caret-color: #99d6ea;
   --error-extra-color: #fffb85;
   --colorful-error-color: #fffb85;
   --colorful-error-extra-color: #fffb85;
}